@font-face {
  font-family: 'TUIRegular';
  src: url('https://github.com/Bulut-D/tui-fonts/blob/master/TUITypeLt_LATN_W_Rg.woff') format('woff');
}
@font-face {
  font-family: 'TUIBold';
  src: url('https://github.com/Bulut-D/tui-fonts/blob/master/TUITypeLt_LATN_W_Bd.woff') format('woff');
}
@font-face {
  font-family: 'NunitoRegular';
  src: url('../tui-fonts/blob/master/NunitoSans-Regular.woff') format('woff');
}
